{% load static %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "webkiosk/navbar.css" %}" /> 
{% endblock %} 

{% block mainnav %}
<!-- header starts here -->
<nav class="navbar">
  <div class="navbar-container">
    <!-- insert logo here  -->
    <a href="" id="navbar-logo">
      <img src="{% static 'webkiosk/images/logo.png' %}" />
    </a>

    <div class="navbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a href="{% url 'webkiosk:index' %}" class="navbar-links">Home</a>
      </li>
      <li class="navbar-item">
        <a href="{% url 'webkiosk:about' %}" class="navbar-links">About</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-links">Contact</a>
      </li>
      <li class="navbar-btn">
        <a href="{% url 'webkiosk:login' %}" class="button">Sign-In</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock  %}

<script src="{% static 'webkiosk/scripts/main.js' %}"></script>