{% extends 'base_dashboard.html' %}

{% load static %}

{% block pagetitle %}GrubFood - Add food{% endblock  %}

{% block css_files %} 
    <link rel="stylesheet" href="{% static "webkiosk/add_form.css" %}" /> 
{% endblock %} 

{% block maincontent %}    
     <main class="main">
            <div class="graphics-container">
                <img src="{% static 'webkiosk/images/food.png' %}" alt="Add Customer Image" class='customer-img'>
            </div>
            <!-- form starts here -->
            <div class="add-customer-container">
                <div class="details">
                    <h1>Add Food</h1>
                </div>
                <form method="post" id="form">
                    {% csrf_token %}
                    {{ form }} 
                    <input type='submit' value='submit' class='ac-button'>
                </form>
            </div>
            <ul>
                {% for message in messages  %}
                <li>{{ message }} </li>
                {% endfor %}
            </ul>
    </main>
{% endblock %}