{% extends 'user_base.html' %}

{% load static %}

{% block pagetitle %}GrubFood - Delete Order Item{% endblock  %}

{% block css_files %} 
    <link rel="stylesheet" href="{% static "webkiosk/delete.css" %}" /> 
{% endblock %} 

{% block maincontent %}
<main>
    <img src="{% static 'webkiosk/images/delete-item.png' %}"  class='delete-btn'/>
    <h1>Delete Food Item</h1>
    <form method="post">
        {% csrf_token %}
        {% comment %} <p>Are you sure you want to delete <b>{{ orderitem.food.name }}</b></p> {% endcomment %}
        <a href="{% url 'webkiosk:userorderdetails' orderitem.id %}" class="cancel">Cancel</a>
        <input type="submit" value="Yes" class = "confirm">
    </form>
</main>
{% endblock %}